@font-face {
    font-family: Poppins Regular;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins Bold;
    src: url(font/Poppins-Bold.ttf);
}

.bold {
    font-family: Poppins Bold;
    margin: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: Poppins Regular;
    background: rgb(35,48,103);
    background: linear-gradient(122deg, rgba(35,48,103,1) 0%, rgba(53,59,112,1) 100%);
}

.start-screen{
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.start-title {
    color: #F57D6A;
    width: 100%;
    margin: 0;
    -webkit-text-stroke: 0.5px #FFF;
    text-stroke: 0.5px #FFF;
    font-size: 6rem;
    display: flex;
    justify-content: center;
}

.btn-start {
    color: #FFF;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: Poppins Regular;
    background-color: transparent;
}

.btn-start:hover {
    opacity: 0.8;
}

.disable {
    display: none;
}

.quiz {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
}

.pergunta-title {
    color: #FFF;
    text-align: center;
}


.alternativas {
    height: 50%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.alter {
    height: 10rem;
    width: 20rem;
    margin-top: 1rem;
    background-color: #F57D6A;
    border-radius: 1rem;
    color:#FFF;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.alter p {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    place-items: center;
}

.correct {
    height: 10rem;
    width: 20rem;
    margin-top: 1rem;
    border-radius: 1rem;
    color:#FFF;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: #52cf78;
}

.wrong {
    height: 10rem;
    width: 20rem;
    margin-top: 1rem;
    border-radius: 1rem;
    color:#FFF;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    background-color: #b63939;
}

.restart-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items:center;
    justify-content: center;
    color: #F57D6A;
    font-size: 3rem;
}

.restart-modal button {
    color: #FFF;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: Poppins Regular;
    background-color: transparent;
}

.restart-modal button:hover {
    opacity: 0.8;
}

.restart-modal button:last-child {
    color: #b63939;
}